@tailwind base;
@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('/public/fonts/Pretendard-Regular.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: "Cafe24Shiningstar";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family: 'Pretendard', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  }
  button{
    outline: none;
    border: none;
  }
}


@tailwind components;
@tailwind utilities;

